<div class="col-md-12 d-flex justify-content-between flex-row-reverse">
    <div class="col-md-4 d-flex justify-content-between flex-row-reverse">
        <button type="button" class="btn btn-secondary" routerLink="upload">Upload Aws</button>
    </div>
    <div class="col-md-4 ">
        <button type="button" class="btn btn-secondary" routerLink="nominate">Nominate Someone</button>
    </div>

    <div class="col-md-4 ">
        <button type="button" class="btn btn-secondary" routerLink="">Hide Stats</button>
    </div>

</div>
